<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>injectUser</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.InjectUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>injectUser</servlet-name>
        <url-pattern>/injectUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allUsers</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allUsers</servlet-name>
        <url-pattern>/users/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/users/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allProducts</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.GetAllProductsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allProducts</servlet-name>
        <url-pattern>/products/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allShoppingCart</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.GetShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allShoppingCart</servlet-name>
        <url-pattern>/shoppingCart/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/products/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.AddProductToCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.GetShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProductShoppingCart</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.DeleteProductFromShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProductShoppingCart</servlet-name>
        <url-pattern>/shoppingCart/deleteProduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>completeOrder</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.CompleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>completeOrder</servlet-name>
        <url-pattern>/order/complete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allOrders</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.GetAllOrdersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allOrders</servlet-name>
        <url-pattern>/orders/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/order/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>productsForAdmin</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.GetAllProductsForAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productsForAdmin</servlet-name>
        <url-pattern>/products/admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProductProductsList</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.DeleteProductFromProductsListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProductProductsList</servlet-name>
        <url-pattern>/products/deleteProductList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userLogin</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userLogin</servlet-name>
        <url-pattern>/users/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userLogout</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>authenticationFilter</filter-name>
        <filter-class>mate.acadamy.internetshop.web.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>authorizationFilter</filter-name>
        <filter-class>mate.acadamy.internetshop.web.filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
