<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>injectData</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.InjectDataController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>injectData</servlet-name>
        <url-pattern>/injectData</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>allUsers</servlet-name>
        <servlet-class>mate.acadamy.internetshop.controllers.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allUsers</servlet-name>
        <url-pattern>/users/all</url-pattern>
    </servlet-mapping>
</web-app>
